@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/globals.css */
body {
  font-family: 'Poppins', 'Barlow', sans-serif; /* Add Poppins as the primary font */
}


/* Add this to your global styles or the relevant CSS file */
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 10s infinite linear;
}
