@tailwind base;
@tailwind components;
@tailwind utilities;

/* src/styles/globals.css */
body {
  font-family: 'Poppins', 'Barlow', sans-serif; /* Add Poppins as the primary font */
}


/* Add this to your global styles or the relevant CSS file */
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-slide {
  animation: slide 10s infinite linear;
}


.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Show up to 4 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
}

.truncate-multiline::after {
  content: '...Read more';
  color: #3b82f6; /* Tailwind's blue-500 */
  cursor: pointer;
  position: absolute;
  bottom: 0;
  right: 0;
  background: white;
  padding-left: 4px;
}
